<mat-drawer-container class="mat-drawer-container" autosize>
  <mat-drawer #drawer class="sidenav"[opened]="true" mode="side">
    <div class="logo-container">
      <img class="logo" src="assets/img/logo.png">
    </div>
    <div>
      <button class="close-btn" *ngIf="drawer.mode === 'over'" mat-icon-button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
   <ul class="menu-items">
     <li *ngIf="drawer.mode === 'side'" routerLink="/"><mat-icon>fact_check</mat-icon>Dashboard</li>
     <li *ngIf="drawer.mode === 'side'" routerLink="/user"><mat-icon>person_outline</mat-icon>User</li>

     <li *ngIf="drawer.mode === 'over'" routerLink="/" (click)="drawer.toggle()"><mat-icon>fact_check</mat-icon>Dashboard</li>
     <li *ngIf="drawer.mode === 'over'" routerLink="/user" (click)="drawer.toggle()"><mat-icon>person_outline</mat-icon>User</li>
   </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <button mat-icon-button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Simple CRM</span>
      <span class="example-spacer"></span>
    </mat-toolbar>

    <div class="router-container">
      <router-outlet></router-outlet>
    </div> 
  </div>
</mat-drawer-container>
