<mat-card>
    <table class="user-table">
        <tr>
            <th>Task</th>
            <th>Responsible</th>
            <th>Status</th>
        </tr>

       <tr *ngFor="let task of allTasks" [routerLink]="['/dashboard/' + task.taskID]">
            <td>{{task.taskName}}</td>
            <td>{{task.userName}}</td>
            <td>{{task.status}}</td>
        </tr>
    </table>
</mat-card>

<button (click)="openDialog()" class="add-task-btn" mat-fab color="primary" matTooltip="Add task">
    <mat-icon>add</mat-icon>
</button>