<div class="dialog-container">
    <h1 mat-dialog-title>Task Info</h1>
    <div mat-dialog-content>
        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Who is responsible for this task?</mat-label>
                <mat-select [(ngModel)]="task.userName" name="user">
                    <mat-option *ngFor="let user of allUsers" [value]="user.firstName + ' ' + user.lastName">
                        {{user.firstName}} {{user.lastName}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Status</mat-label>
                <select matNativeControl required [(ngModel)]="task.status">
                    <option value="open">Open</option>
                    <option value="in progress">In progress</option>
                    <option value="done">Done</option>
                </select>
            </mat-form-field>
        </div>
        <div>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Due date</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="date" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="dialogRef.close()">Cancle</button>
        <button mat-button (click)="saveTaskInfo()" cdkFocusInitial>Save</button>
    </div>
</div>