<mat-card class="user-detail-header">
    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="userMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="editTaskName()">edit</button>
    </mat-menu>
    <div class="user-details">
        <h2>{{task.taskName}}</h2>
    </div>
</mat-card>
<mat-card class="mt-32">
    <button mat-icon-button class="pin-right-upper-corner" [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="editTaskInfo()">edit</button>
    </mat-menu>
    <mat-card-title>Info</mat-card-title>
    <mat-card-content>
        <table>
            <tr>
                <td>Responsible</td>
                <td class="pdl-32"><b>{{ task.userName }}</b></td>
            </tr>
            <tr>
                <td> Due date</td>
                <td class="pdl-32"><b>{{ task.dueDate | date:'EEEE, MMMM d, y' }}</b></td>
            </tr>
            <tr>
                <td>Status</td>
                <td class="pdl-32"><b>{{ task.status }}</b></td>
            </tr>
        </table>
    </mat-card-content>
</mat-card>
<mat-card class="mt-32">
    <mat-card-title>Notes</mat-card-title>
    <mat-card-content>
        <div>
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Leave a note</mat-label>
                <textarea class="note-box" matInput placeholder="Share your info about this task with your colleagues" [(ngModel)]="note.message"></textarea>
            </mat-form-field>
        </div>
        <div class="pin-btn">
            <button [disabled]="note.message.length == 0" mat-raised-button color="primary" (click)="saveNote()">Pin your note</button>
        </div>
        <mat-list role="list" *ngFor="let note of notes; let index = index">
            <mat-list-item *ngIf="note.active" role="listitem">{{ note.message }}
                <mat-icon class="delete-icon" (click)="removeNote(index)" matTooltip="delete note">delete</mat-icon>
            </mat-list-item>
          </mat-list>
    </mat-card-content>
</mat-card>